# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vs
Release
x64
*.sln
*.vcxproj
*.filters
*.user

# Files from Forge MDK
forge*changelog.txt
